<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Keys</key>
	<dict>
		<key>zero</key>
		<string>0</string>
		<key>one</key>
		<string>1</string>
		<key>two</key>
		<string>2</string>
		<key>three</key>
		<string>3</string>
		<key>four</key>
		<string>4</string>
		<key>five</key>
		<string>5</string>
		<key>six</key>
		<string>6</string>
		<key>seven</key>
		<string>7</string>
		<key>eight</key>
		<string>8</string>
		<key>nine</key>
		<string>9</string>
		<key>all done</key>
		<string>ALL DONE</string>
		<key>all down</key>
		<string>ALL DONE</string>
		<key>call done</key>
		<string>ALL DONE</string>
		<key>back</key>
		<string>BACK</string>
		<key>bank</key>
		<string>BACK</string>
		<key>begin</key>
		<string>BEGIN</string>
		<key>begining</key>
		<string>BEGIN</string>
		<key>began</key>
		<string>BEGIN</string>
		<key>next</key>
		<string>NEXT</string>
	</dict>
</dict>
</plist>
